<div class="container-relative">
  <img class="img-vector img-fluid" src="./assets/images/vector.svg" alt="Vector">
  <h1 class="pt-5">Our Collection</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 my-3">
      <h5 class="text-secondary">Introducing our Coffee Collection, a selection of unique coffees from different roast
        types and origins, expertly roasted in small batches and shipped fresh weekly.</h5>
    </div>
  </div>
</div>
<div>
  <button type="button" class="btn btn-secondary mx-1">All Products</button>
  <button type="button" class="btn btn-outline-dark text-white mx-1">Available Now</button>
</div>
<div>
  <div class="container my-5 px-md-5">
    <div class="row g-5">
      @for (item of coffeeListing; track $index) {
      <div class="col-xs-12 col-md-6 col-lg-4 item-coffee-collection" (click)="viewDetail(item)">
        <div class="container-relative">
          @if (item.popular) {
          <span class="badge badge-popular">Popular</span>
          }
          <img class="img-fluid img-coffe-collection" [src]="item.image" alt="{{item.name}}">
          <div class="d-flex justify-content-between my-2">
            <h6>{{item.name}}</h6>
            <span class="badge badge-price">{{item.price}}</span>
          </div>
          <div class="d-flex justify-content-between">
            @if (item.rating) {
            <div class="d-flex justify-contend-start">
              <img src="./assets/images/Star_fill.svg" alt="Rating">
              <h6 class="mt-1">{{item.rating}}</h6>
              <h6 class="text-secondary mx-1 mt-1"> ({{item.votes}} votes)</h6>
            </div>
            }@else {
            <div class="d-flex justify-contend-start">
              <img src="./assets/images/Star.svg" alt="NoRating">
              <h6 class="text-secondary mx-1 mt-1"> No ratings</h6>
            </div>
            }
            @if (!item.available) {
            <h6 class="mt-1 coffee-available">Sold out</h6>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>