<div class="img-bg"></div>
<div class="overlay mx-5 p-5">
  <h1>Our Collection</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 my-3">
      <h5>Introducing our Coffee Collection, a selection of unique coffees from different roast types and
        origins, expertly roasted in small batches and shipped fresh weekly.</h5>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-secondary mx-2">All Products</button>
    <button type="button" class="btn btn-outline-dark text-white mx-2">Available Now</button>
  </div>
  <div>

  </div>
</div>